body {
    height:100%;
    width:100%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #393740;
    color: #393740;
    position: relative;
}

.navbar {
    margin-bottom: 0px;
    border-color: transparent;
    background-color: transparent;
    z-index: 2;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

#email {
    color: #393740;
}

#reg-email {
    color: #393740;
}

#password {
    color: #393740;
}

#reg-password {
    color: #393740;
}

#landing-cont {
    position: relative;
    min-height: auto;
    text-align: center;
    color: #fff;
    width: 100%;
    background-color: #c9c9c9;
    background-image: url('traffic.jpg');
    background-position: center;
}

#text-landing {
    position: relative;
    width: 100%;
    padding: 490px 0px 170px;
    text-align: center;
    z-index: 2;

}

#ridethrift {
    text-align: center;
    font-family: 'Fugaz One', cursive;
    font-size: 4em;
    color: #d4d4d4;
}

#video-background {
  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: 1;
}

#estimate-form label {
    color: #d4d4d4;
    font-size: 2em;
    padding-bottom: 5%;
}

#save-row {
    padding-top: 3%;
    padding-bottom: 5%;
}

#input-label {
    color: #d4d4d4;
}

#disclaimer {
    padding-top: 5%;
    padding-left: 4%;
    padding-bottom: 2%;
    font-size: 0.85em;
    color: #d4d4d4;
}

#est-form-row {
    padding-top: 2.5%;
    background-color: #393740;
    padding-bottom: 2.5%;
}



#est-display-row {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    background-color: #2a2831;
    border-color: #ff7438;
    border-width: 2px;
    border-style: solid;
    transition-timing-function: ease-in;
}

#uber-options {
    padding-left: 6%;
}

#lyft-options {
    padding-left: 3%;
}

#submit-est {
    padding-top: 4%;
    text-align: center;
    padding-bottom: 5%;
    transition-timing-function: ease-in;
}

#uber-req-button {
    background-color: #2a2831;
    transition-timing-function: ease-in;
}

#lyft-req-button {
    background-color: #2a2831;
    ttransition-timing-function: ease-in;
}

#request-ride-row {
    padding-top: 3%;
}

.btn-info {
    border-color: #d4d4d4;
    text-align: center;
    background-color: #393740;
}

.btn-info:hover {
    opacity: 0.7;
    border-color: #d4d4d4;
    text-align: center;
    background-color: #393740;
}

.btn-info:active {
    border-color: #d4d4d4;
    text-align: center;
    background-color: #393740 !important;
}

.btn-info:focus {
    border-color: #d4d4d4;
    text-align: center;
    background-color: #393740 !important;
}

#call-uber label {
    color: #d4d4d4;
    font-size: 1em;
}

#call-uber #uber {
    color: #d4d4d4;
    font-size: 2em;
    text-align: center;
}

#call-lyft label {
    color: #d4d4d4;
    font-size: 1em;
}

#call-lyft #lyft {
    color: #d4d4d4;
    font-size: 2em;
    text-align: center;
}

#chart {
  padding-left: 5%;
}

#day-time-col {
    padding-left: 3%;
}

#chart .c3-line-Uber {
  stroke-width: 1.5px;
}
#chart .c3-line-Lyft {
  stroke-width: 1.5px;
}

.c3 .c3-axis-x path, .c3 .c3-axis-x line {
    stroke-width: 1.5px;
}
.c3 .c3-axis-y path, .c3 .c3-axis-y line {
    stroke-width: 1.5px;
}

#map {
    height:400px;
    width:800px;
}
#map2 {
    height: 0px;
    width: 0px;
}

#map2-row {
    background-color: #393740;
}

#map-tab-row {
    padding-top: 5%;
}

#surge-chart-row {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 8%;
}


#ride-msg-row {
    padding-top: 3%;
    padding-bottom: 2%;
    text-align: center;
    background-color: #393740;
}

#ride-message {
    color: #d4d4d4;
    font-size: 1.5em;
}

.dropdown {
    display: inline-block;
}

#surgedrop {
    display: inline-block;
    padding-left: 20%;
}

.auto {
    width: 60%;
}

#surge-chart-row {
    background-color: #393740;
}

#surgedrop {
    color: #d4d4d4;
    margin-top: 0px;
}

#select-time {
    color: #d4d4d4;
}

.c3 .c3-axis-x path, .c3 .c3-axis-x line, .c3 .c3-axis-x text {
    stroke: #d4d4d4;
}

.c3 .c3-axis-y path, .c3 .c3-axis-y line, .c3 .c3-axis-y text {
    stroke: #d4d4d4;
}

.c3 .c3-legend-item text {
    stroke: #d4d4d4;
}

.modal-content {
    background-color: #393740;
    color: #d4d4d4;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 30%;
    padding-right: 30%;
    height: 100%;
    width: 150%;
}