<!doctype html>
<html>
<head>
    <title>Ride Thrift</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" 
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta charset="utf-8">
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="/static/js/c3.min.js"></script>
    <link href="/static/js/c3.css" rel="stylesheet" type="text/css">

     <link rel='stylesheet' href='static/style/ridethrift.css'>
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One|Montserrat" rel="stylesheet">

    

</head>
<body>




<div class="row">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Ride Thrift</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
                {% if "user_id" in session %}
                    <a href="/logout">Logout</a>
                {% else %}
                    <button type="button" class="btn btn-link" id="login-btn" data-toggle="modal" data-target="#login-modal">Login</button>
                {% endif %}
            </li>        
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>


<hr>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}



{% block content %}
    Put your body here.
{% endblock %}
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="login-modal" id="login-modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <h1>Login</h1>
                <form id="login" action="/login" method="POST">
                    <div>
                        <label>Email:
                            <input type="email" name="email" id="email" required>
                        </label>
                    </div>
                    <div>
                        <label>Password:
                            <input type="password" name="password" id="password" required>
                        </label>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-info" value="Log In">
                    </div>
                </form>
                <span id="login-msg"></span><br>
                New user? <button type="button" class="btn btn-info" id="rg" data-toggle="modal" data-target="#register-modal">Register Here!</button>
                <a href="/">Cancel</a>
            </div>
        </div>
    </div>  

    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="register-modal" id="register-modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <h1>Register</h1>
                <form id="registration" action="/register" method="POST">
                    <div>
                        <label>Email:
                            <input type="email" name="email" id="email" required>
                        </label>
                    </div>

                    <div>
                        <label>Password:
                            <input type="password" name="password" id="password" required>
                        </label>
                    </div>

                    <div>
                        <input type="submit" class="btn btn-info" value="Register">
                    </div>
                </form>
                <span id="reg-msg"></span><br>
                Already Registered? <button type="button" class="btn btn-info" id="lgn" data-toggle="modal" data-target="#login-modal">Login Here!</button>
                <a href="/">Cancel</a>
            </div>
        </div>
    </div> 
<script src="/static/js/login-register.js"></script>


{% if g.jasmine_tests %}
    <!-- stuff for testing -->
    <link rel="stylesheet" href="/static/js/js-tests/jasmine.css">
    <script src="/static/js/js-tests/jasmine.js"></script>
    <script src="/static/js/js-tests/jasmine-html.js"></script>
    <script src="/static/js/js-tests/boot.js"></script>
    <script src="/static/js/js-tests/ridethrift-test.js"></script>
    <!-- end of stuff for testing -->
{% endif %}
</body>
</html>