{% extends 'base.html' %}
{% block content %}
    
    <form id="save-origin" method="post" action="/address-saved">
        {{ origin }}<br>
        <input type="hidden" name="origin-lat" id="orig-lat">
        <input type="hidden" name="origin-long" id="orig-lng">
        <input type="hidden" name="origin-arr" id="orig-array">
        <input type="checkbox" name="origin" value="save" id="orig-check">
        Label: <input type="text" name="label-or" id="label"><br>
        {{ destination }}<br>
        <input type="hidden" name="dest-lat" id="dest-lat">
        <input type="hidden" name="dest-long" id="dest-lng">
        <input type="hidden" name="dest-arr" id="dest-array">
        <input type="checkbox" name="dest" value="save" id="dest-check">
        Label: <input type="text" name="label-de" id="label"><br>
        <input type="submit" value="Save" id="save-address" disabled>
    </form>
    <a href="/">Cancel</a>

    <script type="text/javascript">
        "use strict";

        $("#orig-check").on("change", function (evt) {
            $("#save-address").prop("disabled", false);
            $("#orig-lat").attr("value", "{{ origin_lat }}");
            $("#orig-lng").attr("value", "{{ origin_lng }}");
            $("#orig-array").attr("value", "{{ origin_array }}");
        });

        $("#dest-check").on("change", function (evt) {
            $("#save-address").prop("disabled", false);
            $("#dest-lat").attr("value", "{{ dest_lat }}");
            $("#dest-lng").attr("value", "{{ dest_lng }}");
            $("#dest-array").attr("value", "{{ dest_array }}");
        });


    </script>

{% endblock %}